In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import os
CWD = "/".join(os.getcwd().split("/")[:-2])

In [5]:
df = pd.read_csv(f"{CWD}/data/summary/results.csv")
df

,ID,ED,e_ED,t0,e_t0,dur,e_dur,ampl,e_ampl,Prot
0,TIC 237880881,6020,298,1331.82418,0.00194,0.77347,0.02975,0.46626,0.01576,8.43
1,KIC 100004076,10414,886,1358.52754,0.00072,0.49377,0.02388,0.79166,0.06277,8.88
2,TIC 44984200,3809,135,1588.02740,0.00106,0.65066,0.03073,0.29153,0.00868,2.71
3,TIC 277539431,4495,394,1641.86831,0.00291,0.89720,0.08459,0.35356,0.03025,4.56
4,EPIC 212035340,1954494,483655,3437.83750,0.00029,0.05795,0.00631,298.07702,42.06769,4.63

In [ ]:
plt.scatter()